* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial;
    background: #f1f1f1;
}

.row {
    min-height: 100vh;
}

 .row::after {
    content: "";
    display: table;
    clear: both;
   
   
 }
.nav .nav-header{
    width: 50%;
    display: inline;
}
.nav .nav-header .nav-title{
    display: inline-block;
    font-size: 22px;
    padding: 10px;
    color: #E2CBBD;
}
.nav .nav-button{
    display: none;
}
.nav #nav-check {
    display: none;
}
.nav .nav-links {
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    column-gap: 20px;
    font-size: 18px;
    border: none;
    right: 50px;
}



.nav {
  opacity: .5;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black ;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   }
@media (max-width:800px){
  .nav .nav-button{
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 0px;
  }
  .nav .nav-button label {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 50px;
    height: 50px;
    padding: 15px;
    border: none;
    border-top-right-radius: 10px;
  }
  .nav  .nav-button  label:hover,.nav  #nav-check:checked ~ .nav-btn  label {
    background-color: rgba(64, 60, 60, 0.3);
    cursor: pointer;
  }
  .nav  .nav-button  label  span {
    display: block;
    width: 25px;
    height: 5px;
    background-color: #eee;
    border-radius: 5px;
  }
  .nav  .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav  .nav-links  a {
    display: block;
    width: 100%;
    padding-left: 20px;
  }
  .nav  #nav-check:not(:checked) ~ .nav-links {
    height: 20px;
  }
  .nav  #nav-check:checked ~ .nav-links {
    height: 250px;
    overflow-y: hidden;
  }

  
}
  li { 
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .3s;
    
  }
  
  
  .nav-links li:hover,
  .nav-links li.active{
    background: -webkit-linear-gradient(0,rgba(0, 119, 255) 0%, #0ef4ff 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

@media screen and (min-width: 800px) {
     .card1 {
    width: 50%;
    padding: 0;
    }
   
}

@media screen and (min-width: 800px) {
    .avatar1 {
    width: 50%;
    padding: 0;
   }
}

@media screen and (min-width: 800px) {
  .card2 {
    width: 60%;
    padding: 0;
 }

}

@media screen and (min-width: 800px) {
 .avatar2 {
    width: 40%;
    padding: 0;
}
}

@media screen and (max-width: 800px) {
  .card1 {
     width: 100%;
     padding: 0;
     display: block;
 }

}

@media screen and (max-width: 800px) {
 .avatar1 {
    width: 100%;
   
    padding: 0;
    display: block;
}
}

@media screen and (max-width: 800px) {
.card2 {
    width: 100%;
    padding: 0;
    display: block;
}

}

@media screen and (max-width: 800px) {
.avatar2 {
    width: 100%;
    padding: 0;
    display: block;
}
}

.left {
    display: flex;
}
.right {
    display: flex;
  
}

.card1 {
    background-color: black;
    min-height: 95vh;
    padding-top: 20px;
    color: rgb(228, 222, 222); 
    display: flex;
    align-items: center;
    float: left;   
}
.card1 {
    display: inline-block;
}

.intro2 h1 {
    font-size: 55px;
    font-weight: 500;
    padding: 0;
 }

 .intro2 h2 {
    font-size: 35px;
    margin-top: 125px;
 }

 .intro2 p {
   font-size: 30;
 }
 

 .intro p {
   font-size: 20px;
 }

.card2 {
    background-color: black;
    color: #E2CBBD;
    min-height: 95vh;
    display: flex;
    align-items: center;
    float: left;  
}

.card2 {
    display: inline-block;
}
.intro{
    padding: 50px 40px;
}

.intro h1 {
    font-size: 47px;
    font-weight: 200;
    line-height: 1.2;
}

.intro2 {
    padding: 50px;
    font-size: larger;
    margin-left: 40px;

}

.avatar1, .avatar2 {
  
    min-height: 95vh;
    background-color: white;
    display: inline-block;
    float: left;
   
}

.avatar1 {
    background-image: url(pic9.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    background-position: center;
    
}

.avatar2 {
    background-image: url(pic10.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-color: black;
    background-position: center;
    
}

.social{
    width: 100%;
    background-color:black;
    height: 240px;
    float: left;
    color: #E2CBBD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands{
  
   margin: 10px;
   cursor: pointer;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    
}
a {

  color: inherit;
}
.footer{
  width: 100%;
  background-color: gray;
  height: auto;
  display:flex;
 justify-content: center;
 align-items: center;
}

.footer2 {
  padding: 5px;
  width: 33.3333%;
 
  align-items: center;
}
.footer3{
  width: auto;
  align-self: flex-end;
}

    
